@font-face {
  font-family: 'Raleway Lite';
  src: url("fonts/Raleway-Light.eot");
  src: url("fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"),
  url("fonts/Raleway-Light.woff") format("woff"),
  url("fonts/Raleway-Light.ttf") format("truetype"),
  url("fonts/Raleway-Light.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("fonts/PlayfairDisplay-Regular.eot");
  src: url("fonts/PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
  url("fonts/PlayfairDisplay-Regular.woff") format("woff"),
  url("fonts/PlayfairDisplay-Regular.ttf") format("truetype"),
  url("fonts/PlayfairDisplay-Regular.svg#ralewaylight") format("svg");
  font-weight: normal;
  font-style: normal;
}



body {
  font-family: 'Raleway Lite', sans-serif;
  border: 3px solid #682468;
}


.container {
  width: 1240px;
}

.hero {
  background: 
  url("images/banner-girl.png") 50% 77px/200px no-repeat,
  url("images/flower-bkgd.jpg") 100% 100%/ cover no-repeat;
  border: 3px double #E47488;
  
}

   
.overlay {
  width: 100%;
  height: 500px;
  margin-top: 0;
  position:relative;
  background-color: rgba(0, 0, 0, 0.3);
    
  }


.labels {
  position: absolute;
  top: 213px;
  left: 370px;
  color: white;
  line-height: 3px;
  
  
}

.hero p {

  text-align: center;
  font-size: 16px;
  margin: 0;
  font-family: 'Raleway Lite';
  
}

.hero h1 {
  font-family: 'Playfair Display', sans-serif;
  text-align: center;
  margin: 0, auto;
  font-size: 45px;
  font-weight: 400;
  
}





.menu {
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  padding-bottom: 30px;
  position: relative;
  margin-bottom: 0;
}

.menu ul {
  text-align: center;
  position: relative;
 
  padding: 0;
  display: inline-block;
  position: absolute;
  left: 415px;
  top: 18px;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #e2574c;
  
  
}

.word {
  display: inline-block;
  width: 150px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 28px;
  left: 30px;

}

.logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 1090px;
  top: 7px;
  width: 75px;
  height: 75px;
}



.menu h1 {
  display: none;
}

.hand-craft {
  border: 1px solid black;
  padding: 15px 0 25px 0
}

.hand-craft .first {
  font-family: 'Playfair Display';
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.hand-craft .second {
  text-align: center;
  line-height: 35px;
}

.sign-up {
  border: 1px solid black;
  width: 100%;
  height: 245px;
  padding: 25px 0 25px 0;
  background:
  url("images/wave-bkgd.jpg") 100% 100%/cover no-repeat;
  position: relative;
  line-height: 20px;
  
}

.sign-up h1 {
  font-family: 'Playfair Display';
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 100;
  
 
}

.sign-up p {
  text-align: center;
  padding-top:15px;
  color: #fff;
  font-weight: 500;
  line-height: 29px;
}

form {
  text-align: center;
}

input {
  width: 400px;
  height: 40px;
  border-radius: 25px;
  font-family: 'Raleway Lite', sans-serif;
  text-indent: 20px;
  font-size: 13px
}

button {
  width: 100px;
  height: 38px;
  background-color: #e2574c;
  border-radius: 25px;
  color: #fff;
  font-size: 12px;
  position: absolute;
  right: 417px;
  top: 197px;
  font-family: 'Raleway Lite', sans-serif;
  font-size: 13px;
  }

  footer {
    background-color: black;
    color: #fff;
    padding: 0;
    margin-top: 0;
    display: flex;
    justify-content: space-between;

  }

  footer a {
    color: white;
  }

  .address {
    width: 50%;
    padding-left: 30px;
    /* border: 1px solid white; */
    order: 1;
    
    
  }
    

  .names {
    width: 25%;
    padding-right: 30px;
    /* border: 1px solid white; */
    text-align: right;
    order: 3;
  }

  .names ul li {
    list-style: none;
    padding: 5px;
    margin-left: 5px;
  }

  i {
    margin-right: 20px;
  }

  .products ul {
    width: 100%;
    display: flex;
    padding-right: 20px;
    
  }

  .product ul li{
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 50%;
    padding: 0;
  }

